.cfcity {
	position: relative;
}
.cfcity_first {
	display: none;
	position: absolute;
	top: 100%;
	min-width: 100%;
	padding: 15px;
	background: #fff;
	box-shadow: 1px 1px 5px #999;
	z-index: 999;
}
.cfcity_list {
	display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.cfcity_list li {
	margin-bottom: 7px;
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #e11f2c;
    border-radius: 10px;
}
.cfcity_list li a{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
}
#cfCityError {
	display: none;
}
